

/* 
    Document   : opendover.css
    Created on : Aug 31, 2010, 2:48:58 PM
    Author     : abondar
    Description:
        Purpose of the stylesheet follows.
*/
div.field-field-opendover-inprocessqueue {
    color: red;
}

strong.opendover-markup.hovered {
    border: 1px dotted gray;
    padding: 0 !important;
}

strong.opendover-sentiment {
    font-weight: normal;
    font-style: italic;
}

strong.opendover-sentiment-domainword {
    font-weight: normal;
    text-decoration: underline;
}

strong.opendover-sentiment-basetag {
    font-weight: bold;
}

strong.opendover-sentiment.positive,
strong.opendover-sentiment-domainword.positive,
strong.opendover-sentiment-basetag.positive {
    color: #00CC00;
    padding: 1px;
}

strong.opendover-sentiment.negative,
strong.opendover-sentiment-domainword.negative,
strong.opendover-sentiment-basetag.negative {
    color: red;
    padding: 1px;
}

strong.opendover-sentiment.positive.negative,
strong.opendover-sentiment-domainword.positive.negative,
strong.opendover-sentiment-basetag.positive.negative {
    color: gray;
    padding: 1px;
}

strong.opendover-sentiment.positive:hover,
strong.opendover-sentiment-domainword.positive:hover,
strong.opendover-sentiment-basetag.positive:hover {
    background-color: #00CC00;
    color: white;
    padding: 1px;
}

strong.opendover-sentiment.negative:hover,
strong.opendover-sentiment-domainword.negative:hover,
strong.opendover-sentiment-basetag.negative:hover {
    color: white;
    background-color: red;
    padding: 1px;
}

strong.opendover-sentiment.positive.negative:hover,
strong.opendover-sentiment-domainword.positive.negative:hover,
strong.opendover-sentiment-basetag.positive.negative:hover {
    color: white;
    background-color: gray;
    padding: 1px;
}



