
#desctip {
    position: absolute;
    padding: .5em;
    border: 1px solid #999;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    width: 190px;
    line-height: 1.4em;
    background: #444;
    color: #fff;
}

div.admin-dependencies, div.admin-required {
    color: #ccc;
}

#desctip {
    background: url("../images/tooltip.jpg") repeat-x scroll 0 bottom #555656;
    border: 5px double #FFFFFF;
    opacity: 0.88;
    padding: 7px 10px 9px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10.5px;
    margin-top: -10px;
}

#desctip div.arrow {
    background: url("../images/arrow.png") repeat-x scroll 0 0;
    width: 32px;
    height: 18px;
    position: absolute;
    margin-top: 19px;
    margin-left: 10px;
    opacity: 0.88;

}

#desctip div.force {
    background: url('../images/no_scale.png') 0 0 no-repeat;
    width: 190px;
    height: 14px;
}

#desctip div.force div.force-9,
#desctip div.force div.force-8,
#desctip div.force div.force-7,
#desctip div.force div.force-6,
#desctip div.force div.force-5,
#desctip div.force div.force-4,
#desctip div.force div.force-3,
#desctip div.force div.force-2,
#desctip div.force div.force-1,
#desctip div.force div.force0,
#desctip div.force div.force1,
#desctip div.force div.force2,
#desctip div.force div.force3,
#desctip div.force div.force4,
#desctip div.force div.force5,
#desctip div.force div.force6,
#desctip div.force div.force7,
#desctip div.force div.force8,
#desctip div.force div.force9 {
    background: url('../images/scale.png') 0 0 no-repeat;
    width: 100px;
    margin-left: 0px;
    height: 14px;
}

#desctip div.force div.force0,
#desctip div.force div.force1,
#desctip div.force div.force2,
#desctip div.force div.force3,
#desctip div.force div.force4,
#desctip div.force div.force5,
#desctip div.force div.force6,
#desctip div.force div.force7,
#desctip div.force div.force8,
#desctip div.force div.force9 {
    margin-left: 90px;
    background-position: -90px 0px;
}

#desctip div.force div.force-8 {
    background-position: -10px 0px;
    width: 90px;
    margin-left: 10px;
}

#desctip div.force div.force-7 {
    background-position: -20px 0px;
    width: 80px;
    margin-left: 20px;
}

#desctip div.force div.force-6 {
    background-position: -30px 0px;
    width: 70px;
    margin-left: 30px;
}

#desctip div.force div.force-5 {
    background-position: -40px 0px;
    width: 60px;
    margin-left: 40px;
}

#desctip div.force div.force-4 {
    background-position: -50px 0px;
    width: 50px;
    margin-left: 50px;
}

#desctip div.force div.force-3 {
    background-position: -60px 0px;
    width: 40px;
    margin-left: 60px;
}

#desctip div.force div.force-2 {
    background-position: -70px 0px;
    width: 30px;
    margin-left: 70px;
}

#desctip div.force div.force-1 {
    background-position: -80px 0px;
    width: 20px;
    margin-left: 80px;
}

#desctip div.force div.force0 {
    background-position: -90px 0px;
    width: 10px;
    margin-left: 90px;
}

#desctip div.force div.force1 {
    width: 20px;
}

#desctip div.force div.force2 {
    width: 30px;
}

#desctip div.force div.force3 {
    width: 40px;
}

#desctip div.force div.force4 {
    width: 50px;
}

#desctip div.force div.force5 {
    width: 60px;
}

#desctip div.force div.force6 {
    width: 70px;
}

#desctip div.force div.force7 {
    width: 80px;
}

#desctip div.force div.force8 {
    width: 90px;
}

#desctip div.force div.force9 {
    width: 100px;
}

#desctip p {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 5px;

}

strong.opendover-markup {
    display: inline-block;
}
